.user__dashboard {
  margin-top: 50px;
  > section {
    display: flex;
    justify-content: center;
  }
  section {
    max-width: 620px;
    margin: 0 auto;
    margin-top: 10px;
  }
  .dashboard {
    &__label {
      font-weight: 700;
    }
    &__info {
      font-size: 0.7rem;
      margin-left: 25px;
    }
  }
}
